In [24]:
import numpy as np
import pandas as pd

In [25]:
df = pd.read_csv("/Users/dhruvpai/Downloads/archive (1)/Employee_Salary_Dataset.csv")
df.head()

   ID  Experience_Years  AgeGroup  Gender  Salary
0   1                 5        28  Female  250000
1   2                 1        21    Male   50000
2   3                 3        23  Female  170000
3   4                 2        22    Male   25000
4   5                 1        17    Male   10000

In [26]:
def categorize_age(AgeGroup):
    if 20 <= AgeGroup < 30:
        return '20-30'
    elif 30 <= AgeGroup < 40: 
        return '30-40'
    elif 40 <= AgeGroup < 50:
        return '40-50'
    elif 50 <= AgeGroup < 60: 
        return '50-60'
    else:
        return 'Unknown'

In [27]:
df['Age'] = df['AgeGroup'].apply(categorize_age)
statistics = df.groupby('Age')['Salary'].describe()
print("Summary Statistics for Salary Grouped by Age Group:\n", statistics)

Summary Statistics for Salary Grouped by Age Group:
          count        mean           std       min        25%        50%  \
Age
20-30     16.0   573406.25  1.707229e+06    6000.0     8975.0    25000.0
30-40      5.0  1480310.00  2.550882e+06   61500.0    80000.0   330000.0
40-50      2.0  3910050.00  5.218377e+06  220100.0  2065075.0  3910050.0
50-60      8.0  4082500.00  3.545108e+06  650000.0   875000.0  3270000.0
Unknown    4.0  3753500.00  4.783829e+06    3000.0     8250.0  2505500.0

               75%         max
Age
20-30     190000.0   6845000.0
30-40     930000.0   6000050.0
40-50    5755025.0   7600000.0
50-60    6902500.0   9300000.0
Unknown  6250750.0  10000000.0

In [28]:
df.groupby('Age')['Salary'].median()

Age
20-30        25000.0
30-40       330000.0
40-50      3910050.0
50-60      3270000.0
Unknown    2505500.0
Name: Salary, dtype: float64

In [29]:
df.groupby('Age')['Salary'].apply(lambda x: x.mode().iloc[0])

Age
20-30       25000
30-40       61500
40-50      220100
50-60      650000
Unknown      3000
Name: Salary, dtype: int64

In [30]:
max_age=df.groupby('Age')['Salary'].max()
max_age

Age
20-30       6845000
30-40       6000050
40-50       7600000
50-60       9300000
Unknown    10000000
Name: Salary, dtype: int64

In [31]:
min_age=df.groupby('Age')['Salary'].min()
min_age

Age
20-30        6000
30-40       61500
40-50      220100
50-60      650000
Unknown      3000
Name: Salary, dtype: int64

In [32]:
range=(max_age)-(min_age)
range

Age
20-30      6839000
30-40      5938550
40-50      7379900
50-60      8650000
Unknown    9997000
Name: Salary, dtype: int64

In [33]:
mid_range = range/2
mid_range

Age
20-30      3419500.0
30-40      2969275.0
40-50      3689950.0
50-60      4325000.0
Unknown    4998500.0
Name: Salary, dtype: float64

In [34]:
df.groupby('Age')['Salary'].var()

Age
20-30      2.914630e+12
30-40      6.506998e+12
40-50      2.723146e+13
50-60      1.256779e+13
Unknown    2.288502e+13
Name: Salary, dtype: float64

In [35]:
df.groupby('Age')['Salary'].std()

Age
20-30      1.707229e+06
30-40      2.550882e+06
40-50      5.218377e+06
50-60      3.545108e+06
Unknown    4.783829e+06
Name: Salary, dtype: float64

In [36]:
df1=pd.read_csv("/Users/dhruvpai/Downloads/IRIS.csv")
df1.head()

   sepal_length  sepal_width  petal_length  petal_width      species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [37]:
def categorize_Species(Species): 
    if (Species=='Iris-setosa'):
        return 'Iris-setosa'
    elif (Species=='Iris-versicolor'):
        return 'Iris-versicolor'
    else:
        return 'Iris-virginica'
    df1['SpeciesAge'] = df1['Species'].apply(categorize_Species)

In [38]:
df1['SpeciesGroup'] = df1['species'].apply(categorize_Species)
statistics1 = df1.groupby('SpeciesGroup')['sepal_length'].describe()
print("Summary Statistics for SepalLengthCm Grouped by species Group:\n", statistics1)

Summary Statistics for SepalLengthCm Grouped by species Group:
                  count   mean       std  min    25%  50%  75%  max
SpeciesGroup
Iris-setosa       50.0  5.006  0.352490  4.3  4.800  5.0  5.2  5.8
Iris-versicolor   50.0  5.936  0.516171  4.9  5.600  5.9  6.3  7.0
Iris-virginica    50.0  6.588  0.635880  4.9  6.225  6.5  6.9  7.9

In [39]:
df1.groupby('SpeciesGroup')['sepal_length'].median()

SpeciesGroup
Iris-setosa        5.0
Iris-versicolor    5.9
Iris-virginica     6.5
Name: sepal_length, dtype: float64

In [40]:
max_species=df1.groupby('SpeciesGroup')['sepal_length'].max()
max_species

SpeciesGroup
Iris-setosa        5.8
Iris-versicolor    7.0
Iris-virginica     7.9
Name: sepal_length, dtype: float64

In [41]:
min_species=df1.groupby('SpeciesGroup')['sepal_length'].min()
min_species

SpeciesGroup
Iris-setosa        4.3
Iris-versicolor    4.9
Iris-virginica     4.9
Name: sepal_length, dtype: float64

In [42]:
range1=(max_species)-(min_species)
range1

SpeciesGroup
Iris-setosa        1.5
Iris-versicolor    2.1
Iris-virginica     3.0
Name: sepal_length, dtype: float64

In [43]:
mid_range1=range1/2
mid_range1

SpeciesGroup
Iris-setosa        0.75
Iris-versicolor    1.05
Iris-virginica     1.50
Name: sepal_length, dtype: float64

In [44]:
df1.groupby('SpeciesGroup')['sepal_length'].apply(lambda x: x.mode().iloc[0])

SpeciesGroup
Iris-setosa        5.0
Iris-versicolor    5.5
Iris-virginica     6.3
Name: sepal_length, dtype: float64

In [45]:
df1.groupby('SpeciesGroup')['sepal_length'].var()

SpeciesGroup
Iris-setosa        0.124249
Iris-versicolor    0.266433
Iris-virginica     0.404343
Name: sepal_length, dtype: float64

In [46]:
df1.groupby('SpeciesGroup')['sepal_length'].std()

SpeciesGroup
Iris-setosa        0.352490
Iris-versicolor    0.516171
Iris-virginica     0.635880
Name: sepal_length, dtype: float64

In [47]:
df1.groupby('SpeciesGroup')['sepal_length'].mean()

SpeciesGroup
Iris-setosa        5.006
Iris-versicolor    5.936
Iris-virginica     6.588
Name: sepal_length, dtype: float64